<div id="top">
	<h1>
		TOPページ
	</h1>

	<h2>ページデータ</h2>
	<div>
		<p><%- page.id %></p>
		<p><%- page.file_name %></p>
		<p><%- page.dir %></p>
		<p><%- page.page_name %></p>
		<p><%- page.title %></p>
		<p><%- page.description %></p>
		<p><%- page.keyword %></p>
	</div>

</div>
